.vac__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.vac__content {
    display: flex;
    width: 50%;
    justify-content: space-between;
    border: 1px solid rgb(146, 146, 146);
    padding: 2em;
    height: 100%;
    margin-bottom: 2%;
}

.vac__creds-wrap {
    width: 100%;
}

.vac__creds {
    display: flex;
    width: 100%;
    justify-content: space-around;

}

.vac__name {
    margin-left: 5%;
}

.vac__creds-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.vac__name {
    font-size: 22px;
    font-weight: bold;
}

.vac__creds-wrap, .vac__extracreds  {
    height: 100%;
}

.vac__extracred {
    margin-bottom: 3%;
}

.vac__creds-wrap .css-69324s {
    display: flex;
    justify-content: center;
}

.vac__span {
    font-weight: bold;
}

.vac__btn-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.vac__btn-cont {
    display: flex;
    width: 30%;
    justify-content: space-between;
}