.support {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: flex-end
}

.support__wrap {
    height: 70vh;
    width: 75%;
    padding: 20px;
    border: 1px solid rgba(224, 224, 224, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.support__bot-wrap {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}

.support__bot-wrap form {
    width: 70%;
}

.css-xn6ruc>:not(style){
    width: 100% !important;
}

.css-hjtp1-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused {
    width: 100%;
}

.support__send-btn {
    margin-left: 40px !important;
}

.support__no-messages {
    color: rgba(90, 89, 89, 0.603);
    font-size: 14px;
}

@media (max-width:768px) {
    .css-zxdg2z {
        padding: 0 !important;
    }

    .support__wrap {
        padding: 10px;
        width: 100%;
    }
}
@media (max-width:425px){
.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
    max-width: 130px;
}

.css-cveggr-MuiListItemIcon-root {
    min-width: auto !important;
}

.css-10hburv-MuiTypography-root  {
    font-size: 14px;
}

.css-i4bv87-MuiSvgIcon-root {
    width: 20px !important;
    height: 20px !important;
}

.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root {
    padding: 8px 5px !important;
}

.css-1kv5qg2-MuiDrawer-docked {
    width: 137px;
}
}