.company__wrap {
    display: flex;
    justify-content: center;
}

.company {
    display: flex;
    width: 50%;
    justify-content: space-between;
    border: 1px solid #e0e0e0;
    border-right: 0;
    border-radius: 4px 0 0 4px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.055);
    padding: 30px;
}

.company__creds {
    display: flex;
    align-items: flex-end;
}

.company__name {
    margin-left: 15px;
    font-weight: bold;
    font-size: 24px;
}

.company__span {
    font-weight: bold;
}

.company__extracred, .company__span {
    font-size: 18px;
}

.company__extracreds {
    margin-top: 50px;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.profile__wrap-btns {
    display: flex;
}