.promo__wrap {
    width: 100%;
    background-color: #fff;
}

.promo__content-wrap{
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo__content {
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around
}

.promo__title-blue {
    color: blue;
}

.promo__search-block {
    display: flex;
    align-items: center;
}

.promo__search {
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.promo__select {
    width: 20rem;
    color: sienna;
}

.css-9y1egq-MuiButtonBase-root-MuiButton-root {
    padding: 14px 21px !important;
}

.promo__post {
    width: 14rem;
    height: 3rem;
}

.promo__btns-block {
    width: 30rem;
    display: flex;
    justify-content: space-between;
}

.searched__wrap {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

@media (max-width: 768px) {
    .promo__search-block {
        flex-direction: column;
        padding: 30px 0 30px 0;
    }
}

@media (max-width: 425px) {
    .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
        max-width: 380px;
    }

    .promo__btns-block {
        flex-direction: column;
        align-items: center;
    }

    .promo__content {
        width: 100%;
    }

    .promo__title {
        text-align: center;
    } 
}

@media (max-width: 425px) {
    .promo__btns-block {
        width: 100%;
    }

    .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
        max-width: 350px;
    }

    .nav__auth-wrap {
        width: 42%;
    }
}

@media (max-width: 375px) {
    .css-1u3bzj6-MuiFormControl-root-MuiTextField-root, .css-1agwao2-MuiFormControl-root {
        max-width: 300px;
    }

    .promo__select {
        width: 17rem;
    }
}

@media (max-width: 320px) {
    .promo__title {
        font-size: 20px;
    }
}