.css-i9gxme, .App, #root{
    max-width: 100wh;
}

.css-hyum1k-MuiToolbar-root, .css-hyum1k-MuiToolbar-root  {
    padding: 0;
}

@media (min-width: 600px){
    .css-hyum1k-MuiToolbar-root {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.css-1juivf6-MuiTypography-root { 
    color: #fff !important;
    margin-left: 40px !important;
}

.css-1y942vo-MuiButtonBase-root-MuiButton-root {
    color: #fff !important;
    margin-right: 40px !important;
}

.signup__link-already {
    color: #1976d2e0;
}

.MuiGrid-spacing-xs-2 div {
    width: 100% !important;
}

.MuiGrid-spacing-xs-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup__wrap .css-1agwao2-MuiFormControl-root{
    margin: 16px 0 0 16px !important;
}

.signup__logo {
    text-decoration: none;
    color: #fff !important;
}

.css-hyum1k-MuiToolbar-root {
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 375px){
    .css-1y942vo-MuiButtonBase-root-MuiButton-root {
        margin-right: 17px !important;
    }
}