.css-jh47zj-MuiButtonBase-root-MuiButton-root:hover {
    color: #fff;
}

.css-hyum1k-MuiToolbar-root {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav__auth-wrap button {
    background-color: #fff;
    color: #1976d2;
}

.css-8u39c-MuiTypography-root {
    padding-left: 1rem;
}

.main__logo-link {
    color: #fff;
}
