.footer {
    width: 100%;
}

.foo__top  {
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid #fff;
}

.foo__content {
    width: 80%;
}

.foo_top-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foo__logo-link {
    height: 4rem;
    display: flex;
    align-items: center;
}

.foo__soc {
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.foo__bot {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.foo__bot-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foo__nav {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.foo__nav-items {
    display: flex;
    flex-direction: column;
}

.foo__nav-title, .foo__nav-link {
    margin-bottom: 15px;
}

.foo__copyright-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foo__nav-title {
    font-weight: bold;
    color:rgb(59, 59, 59)
}

.foo__nav-link {
    text-decoration: none;
    color: #fff;
}

.foo__copyright {
    color:rgb(36, 36, 36)
}

@media (max-width: 1024px) {
    .foo__soc {
        width: 14%;
    }

    .foo__nav {
        width: 65%;
    }

    .foo__copyright-wrap {
        margin-left: 30px;
    }
}

@media (max-width: 768px) {
    .foo__soc {
        width: 20%;
    }

    .foo__nav {
        width: 100%;
        margin-bottom: 50px;
    }

    .foo__bot-wrap {
        flex-direction: column;
    }

    .foo__copyright-wrap {
        margin-left: 0;
    }
}

@media (max-width: 425px) {
    .foo__soc {
        width: 30%;
    }

    .foo__nav-link, .foo__nav-title {
        font-size: 14px;
    }

    .foo__copyright {
        font-size: 14px;
    }
}

@media (max-width: 425px) {
    .foo__content {
        width: 90%;
    }
}

@media (max-width: 375px) {
    .foo__content {
        width: 90%;
    }
    .foo__bot {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media (max-width: 425px) {

}