.ressearch__content {
    width: 100%;
padding: 200px 0 200px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ressearch__search-block {
    margin-top: 100px;
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
}

.ressearch__search {
    width: 30rem;
}

.ressearch__title {
    font-size: 36px;
}

.searched_list, .vacsearch__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.vacsearch_item {
    width: 70%;
    list-style: none;
    border: 1px solid rgb(146, 146, 146);
    padding: 30px;
    height: 100%;
    border: 1px solid #e0e0e0;
    border-right: 0;
    border-radius: 4px 0 0 4px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.055);
}

.vacsearch__list-wrap, .searchedres__wrap {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.vaclist__title {
    font-weight: bold;
    font-size: 20px;
}

.vacsearch_item p {
    color: rgb(44, 44, 44);
}


@media (max-width: 1024px){
    .ressearch__content-wrap {
        width: 47%;
    }

    .ressearch__search-block {
        width: 58%;
    }
}

@media (max-width: 768px){
    .ressearch__content-wrap {
        width: 60%;
    }
}

@media (max-width: 425px){
    .ressearch__title {
        font-size: 28px;
    }

    .ressearch__content-wrap {
        width: 78%;
    }

    .ressearch__search-block {
        width: 91%;
    }
}


@media (max-width: 375px){
    .ressearch__title {
        font-size: 23px;
    }

    .ressearch__search-block {
        flex-direction: column;
    }

    .css-1y942vo-MuiButtonBase-root-MuiButton-root {
        margin-right: 17px !important;
    }

/*     css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
        width: 100%;
    } */
}

@media (max-width: 320px){
    .ressearch__title {
        font-size: 20px;
    }
}