.nav__wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    a {
        text-decoration: none;
        color: #000;
    }
}

.nav__logo-wrap, .nav__search-wrap, .nav__auth-wrap {
    height: 4rem;
    display: flex;
    align-items: center;
}

.nav__logo-wrap {
    width: 10%;
    border-right: 1px solid #000;
    justify-content: center;
}

.nav__auth-wrap {
    width: 18%;
    border-left: 1px solid #000;
    justify-content: space-around
}

.nav__search-wrap {
    width: 72%;
}

.nav__search-link {
    margin-left: 5rem;
}