.nav__wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    a {
        text-decoration: none;
        color: #000;
    }
}

.nav__logo-wrap, .nav__search-wrap, .nav__auth-wrap {
    height: 4rem;
    display: flex;
    align-items: center;
}

.nav__logo-wrap {
    width: 10%;
    border-right: 1px solid #000;
    justify-content: center;
}

.nav__auth-wrap {
    width: 18%;
    border-left: 1px solid #000;
    justify-content: space-around
}

.nav__search-wrap {
    width: 72%;
}

.nav__search-link {
    margin-left: 100px;
}

@media (max-width: 1024px) {
    .nav__logo-wrap {
        width: 15%;
    }

    .nav__auth-wrap {
        width: 25%;
    }

    .nav__search-link {
        margin-left: 50px;
    }
}

@media (max-width: 768px) {
    .nav__logo-wrap {
        width: 25%;
    }

    .nav__auth-wrap {
        width: 35%;
    }

    .nav__search-link {
        margin-left: 50px;
    }
}

@media (max-width: 425px) {
    .nav__search-link, .nav__auth-link {
        font-size: 14px;
    }

    .nav__search-link {
        margin-left: 20px;
    }

    .nav__logo {
        width: 50px;
    }
}

@media (max-width: 320px) {
    .nav__search-link {
        margin-left: 7px;
    }

    .nav__auth-wrap {
        width: 48%;
    }
}