.contacts {
  background-color: rgba(8, 11, 209, 0.712);
  min-height: 100vh;
}

.contacts__wrap {

  background-color: #fff;
}

.contacts__content {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 5% 0 5% 0;
}

.contacts__address {
    display: flex;
    border: 1px solid #e0e0e0;
    border-right: 0;
    border-radius: 4px 0 0 4px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.055);
}

.contacts__address>ul {

    align-self: center;
    padding: 40px;
    margin: 0;
    list-style: none;
    font-size: 18px;
    color: #808080;
}

.contacts__headline {
    font-weight: bold;
    color: rgb(87, 86, 86);
}

.contacts__headline::after {
    content: "";
    height: 2px;
    width: 25px;
    background-color: #66676b;
    position: relative;
    display: block;
    margin: 15px 0;
    border-radius: 3px;
    background-color: #2997e6;
}

.contacts__headline-bot {
    margin-top: 3%;
}